<h1 id="title"><span class="main-title">Menagerie</span></h1>

<a href="/#!/"><input type="button" class="route-btn" value="Home"></a>
<a href="/#!/add"><input type="button" class="route-btn" value="Make Edits"></a>

<br />

  <div class="animalCard" ng-repeat="animal in animals">
    <a href='#!/animals/{{animal.id}}'>
      <img class="animalPic" src={{animal.img}}
      <!-- "http://www.oregonzoo.org/sites/default/files/styles/article-full/public/H_caracal-kitten_1.jpg?itok=DsNk2oS2"-->
      <p><b>{{ animal.name }}</b></p>
    </a>
    <p>{{animal.species}}</p>
    <p>Age: {{animal.age}} years old </p>

<!--     <span ng-if="animal.zookeepers.length === 0">
      no one
    </span>
    <span ng-repeat="zookeeper in animal.zookeepers">
      {{$last? ' and ' : ''}}{{zookeeper.name}}{{$last? '.' : ', '}}
    </span> -->

    <div>
      <input type="button" value="remove" ng-click="remove(animal.id)">
      <input type="button" value="edit" ng-click="editing = !editing">
    </div>
    <div ng-if="editing">
      <input type="text" ng-model="animal.name">
      <input type="text" ng-model="animal.species">
      <input type="text" ng-model="animal.age">
      <input type="button" value="save" ng-click="save(animal._id, animal)">
    </div>
  </div>
