body {
  background-color: #aecda4;
}


/*_________main page__________*/
#title {
  font-family: 'Great Vibes', cursive;
  font-size: 2.5em;
  margin: 7% 20%;
}

.title-pic {
  background-image: url('../peacock.jpg');
  min-height: 350px;
  background-size: cover;
  margin: -5%;
  opacity: .9;
}

.main-title {
  font-size: 2em;
}

.home-btns {
  margin: -2% 0 0 30%;
}


/*_________zoo page__________*/
.animalCard {
  border: 1px solid black;
  padding: 2px;
  margin: 5px;
  display: inline-block;
  width: 18%;
  height: 270px;
  overflow: scroll;
  background-color: #fafafa;
  text-align: center;
  line-height: .3em;
}

/*_________keeper page__________*/
.keeperCard {
  border: 1px solid black;
  padding: 2px;
  margin: 5px;
  display: inline-block;
  width: 18%;
  height: 270px;
  overflow: scroll;
  background-color: #fafafa;
  text-align: center;
  line-height: .3em;
}

.keeper-pic {
  width: 90%;
  margin: 4% 3% 0 3%;
  border-radius: 100px;
}


/*_________trainer page__________*/
.trainerPic {
  border-radius: 100px;
}

.trainer-info {
  margin: 3% 5% 0 5%;
  display: inline-flex;
}

.trainer-info div:nth-child(2) {
  margin-left: 10%;
  min-width: 600px;
}


/*_________single animal page__________*/
.single-animal {
  margin: 5% 10%;
}


/*_________edits page__________*/
.deleteZookeeperButton{
  display: inline;
}

.zookeeperDeleteName {
  display: inline;
}


/*_________misc__________*/
a {
  text-decoration: none;
  color: inherit;
}

.route-btn {
  border: 2px solid #649fcd;
  min-height: 35px;
  border-radius: 7px;
  font-family: 'Great Vibes', cursive;
  font-size: x-large;
  padding: 2%;
  background-color: antiquewhite;
}
